[submodule "Engine/Libraries/include/imgui"]
	path = Engine/Libraries/include/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/Libraries/include/ImGuizmo"]
	path = Engine/Libraries/include/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Engine/Libraries/include/spdlog"]
	path = Engine/Libraries/include/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Libraries/include/glfw"]
	path = Engine/Libraries/include/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Libraries/include/assimp"]
	path = Engine/Libraries/include/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/Libraries/include/external/json"]
	path = Engine/Libraries/include/external/json
	url = https://github.com/nlohmann/json
