[submodule "Libraries/include/imgui"]
	path = Libraries/include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libraries/include/ImGuizmo"]
	path = Libraries/include/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Libraries/include/external/json"]
	path = Libraries/include/external/json
	url = https://github.com/nlohmann/json
[submodule "Libraries/include/spdlog"]
	path = Libraries/include/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Libraries/include/glfw"]
	path = Libraries/include/glfw
	url = https://github.com/glfw/glfw.git
